[submodule "generic_can_driver"]
	path = generic_can_driver
	url = https://github.com/psaucedoa/generic_can_driver.git
[submodule "j1939_interfaces"]
	path = j1939_interfaces
	url = https://github.com/psaucedoa/j1939_interfaces.git
[submodule "microstrain_mv5_can_driver"]
	path = microstrain_mv5_can_driver
	url = https://github.com/psaucedoa/microstrain_mv5_can_driver.git
[submodule "elobau_can_driver"]
	path = elobau_can_driver
	url = https://github.com/psaucedoa/elobau_can_driver.git
[submodule "hardware_interface_j1939"]
	path = hardware_interface_j1939
	url = https://github.com/psaucedoa/hardware_interface_j1939.git
